<a href="https://colab.research.google.com/github/rlaalswn222/advPython/blob/main/advPython_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(type(1))
print(type(1.1))
print(type('1'))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# 2진수, 8진수, 16진수
# 임베디드 쪽 코딩을 할 때 사용

# 2진수: 숫자 앞에 0b하고 + binary
print(0b110)

# 8진수: 0o + 8진수(0~7)
print(0o11)

# 16진수: 0x(hexadecimal), 0~9, A~F(a~f)까지 사용
# a = 10
# b = 11.. 12 13 14
# f = 15
print(0xB)

6
9
11

아파트에서 소음이 가장 심한 층수 구하기

계산식: 소음이 가장 심한 층 = 0.2467 * 도로와의 거리(m) + 4.159

도로와 걸이가 14m 인 아파트에서 가장 소음이 심한 층

소수점 이하 수는 버림

In [ ]:
x = 0.2467 * 14 + 4.149
print(int(x))
print(x)
print(round(x))

7
7.6028
8

In [ ]:
# 입력 변수를 선언해서 지정 할 수 있음
dist_road = 20
x = 0.2467 * dist_road + 4.149
print(int(x))

9

In [ ]:
# python의 가장 좋은점
x, y, z = 10, 'hello', 2.6
# tuple

print(x,type(x))
print('- '* 10)
print(y,type(y))
print('- '* 10)
print(z,type(z))

10 <class 'int'>
- - - - - - - - - -
hello <class 'str'>
- - - - - - - - - -
2.6 <class 'float'>

In [ ]:
# () 안에 넣어서
x, y, z = (10, 'hello', 2.6)

print(x,type(x))
print('- '* 10)
print(y,type(y))
print('- '* 10)
print(z,type(z))

10 <class 'int'>
- - - - - - - - - -
hello <class 'str'>
- - - - - - - - - -
2.6 <class 'float'>

In [ ]:
x, y, z = 10, 10, 10
print(x)
print(y)
print(z)

10
10
10

In [ ]:
# 변수 개수 대로 실행하면 오류 남

x, y, z = 10
print(x)
print(y)
print(z)

TypeError: cannot unpack non-iterable int object

In [ ]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

In [ ]:
x = y = 10 # int
z = 'cat' #str

print(x, y, z)

print('x is', x, ', y is', y , ', z is', z)
print('x is {}, y is {}, z is {}'.format(x, y, z)) # 따옴표 한번만 사용
print(f'x is {x}, y is {y}, z is {z}') # f-string # 교수님 추천임

print('x is %d, y is %d, z is %s' %(x, y, z)) # 변수들의 type을 파악해야해서 어려움 python 2. 버전을 사용할 때 사용하던 방법

10 10 cat
x is 10 , y is 10 , z is cat
x is 10, y is 10, z is cat
x is 10, y is 10, z is cat
x is 10, y is 10, z id cat

# swap

In [ ]:
# swap
x = 10
y = 20

x, y = y, x
print(x, y)

20 10

In [ ]:
# 다른 언어 C...
x = 10
y = 20

tmp = x
x = y
y = tmp

print(x, y)

20 10

# 변수 삭제

`del`

In [ ]:
x = 10
print(f'(before del) x is {x}')

del x
print(f'(after del) x is {x}')
# 삭제하고 나서는 실행 안됨
# 많이 사용하지 않으나, 너무 무거운 data 일 경우 사용

(before del) x is 10

NameError: name 'x' is not defined

In [ ]:
x = None
print(x)

None

# 연산자

In [ ]:
a = 10
a = a + 20
a += 20 # a = a + 20 과 같음
# 교수님은 잘 안 씀

print(a)

a -= 10
print(a)

a //= 10
print(a)

50
40
4

In [ ]:
x = input('문자열 입력하시오: ')
print(type(x))
print(x)

문자열 입력하시오: 울
<class 'str'>
울

In [ ]:
x = input('숫자를 입력하세요: ')
print(type(x))

숫자를 입력하세요: 9
<class 'str'>

In [ ]:
x = int(input('숫자를 입력하세요: '))
print(type(x))

숫자를 입력하세요: 9
<class 'int'>

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('듀 번째 숫자를 입력하세요: ')
print(a + b)

첫 번째 숫자를 입력하세요: 2
듀 번째 숫자를 입력하세요: 3
23

In [ ]:
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('듀 번째 숫자를 입력하세요: '))
print(type(a))
print(a+ b)

첫 번째 숫자를 입력하세요: 2
듀 번째 숫자를 입력하세요: 3
<class 'int'>
5

In [ ]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('듀 번째 숫자를 입력하세요: ')
c = a+b
print(c)

첫 번째 숫자를 입력하세요: 1
듀 번째 숫자를 입력하세요: 3
13

In [ ]:
## 논리연산자
# 1: True
# 0: Flase

#while True:
  # --- 무한루프

#while 1:
  # --- 무한루프

In [ ]:
## 논리연산자(and)

print(True and True)
print(True and False)
print(False and True)
print(False and False)


print(1 and 1)
print(1 and 0)
print(0 and 1)
print(0 and 0)

True
False
False
False
1
0
0
0

In [ ]:
## (or)
# 두개 다 동시에 0일 경우에만 0
# 그 외에 경우는 다 1

print(True or True) # 1 or 1
print(True or False) # 1 or 0
print(False or True) # 0 or 1
print(False or False) # 0 or 0

print(1 or 1)
print(1 or 0)
print(0 or 1)
print(0 or 0)

True
True
True
False
1
1
1
0

In [ ]:
## (not a)
# True, False를 바꿈

print(not True)
print(not False)

False
True

In [ ]:
print(10 == 10)
print(10 != 5)

True
True

In [ ]:
print( 10 == 10 and 10 != 5)

True

In [ ]:
print( 10 > 5 or 10 < 3) # true or flase -> true

True

In [ ]:
print( not 10 > 5) # not True -> False

False

In [ ]:
# boolean: True, False를 나타냄
# 웬만한거는 True 특정 케이스만 False

# 정수0, 실수 0.0, 복소수 0j만 False
# 제외한 모든 수는 True

print(bool(1))
print(bool(0))
print(bool(-1))

True
False
True

In [ ]:
# 빈 문자열 '', "", None을 제외한 모든 문자열 true
print(bool(''))
print(bool(' '))
print(bool('abc'))
print(bool(None))

False
True
True
False

In [ ]:
# 빈 리스트, 빈 튜플, 빈 딕셔너리, 빈 세트(집합)를 제외한 나머지 true
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(set()))

# while 돌릴때 리스트에서 하나씩 돌리면 pop 하다가 비면 끝나게끔

False
False
False
False

kor, eng, math, sci 중 하나라도 50점 미만이면 불합격


* 합격 = True
* 불합격 = False

In [ ]:
kor = 92
eng = 47
math = 86
sci = 70

print(kor >= 50 and eng >= 50 and math >= 50 and sci >= 50 )

False

In [ ]:
kor = 92
eng = 50
math = 86
sci = 70

print(kor >= 50 and eng >= 50 and math >= 50 and sci >= 50 )

True

In [ ]:
a = []
b =[1, 2, 3]

print(a)
print(type(a))
print('-' * 20)

print(b)
print(type(b))

'''
c = [1 2 3]
print(c)
print(type(c))
'''

[]
<class 'list'>
--------------------
[1, 2, 3]
<class 'list'>

'\nc = [1 2 3]\nprint(c)\nprint(type(c))\n'

In [ ]:
a = [12, [123,3], (12,2)]
print(a)

# list는 안에 요소들 자료형을 통일시키지 않아도 된다

[12, [123, 3], (12, 2)]

In [ ]:
person = ['james', 17, 175.3, True]
print(person)

# 2번째 요소 변경
person[2] = 190
print(person)

print(a)

['james', 17, 175.3, True]
['james', 17, 190, True]
[12, [123, 3], (12, 2)]

In [ ]:
# range(start=0, end, increment=1)
# range(end)
# range(start, end)

a0 = range(5) # python 2. 버전에서는 list 형식으로 출력됐었음
# 항상 list로 출력된다면, 숫자가 많을때 그대로 그 양들을 저장하게됨 -> 저장공간 낭비됨
# 우리가 list로 호출해야 일일이 다 던져주게끔

a = list(range(10)) # 0~9
b = list(range(10, 20)) # 10~19
c = list(range(0, 20, 2))
d = list(range(-2, 9, 2))
print(f'a0 is type {type(a0)}')
print(a)
print(b)
print(c)
print(d)

a0 is type <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[-2, 0, 2, 4, 6, 8]

In [ ]:
# tuple: ()
# indexing은 가능하나, 수정 불가

a = ()
b= (1, 2, 3)
c = 1, # 요소가 하나 들어가 있는 튜플
d = (2,)  # 요소가 하나 들어가 있는 튜플
e = 1, 2, 3
f = 1 # 콤마가 없으면 그냥 int 처리를 하겠지 ;;

print(a)
print(type(a))
print(b)
print(c)
print(d)
print(e)
print(f)

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

()
<class 'tuple'>
(1, 2, 3)
(1,)
(2,)
(1, 2, 3)
1
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>

list와 tuple의 차이점

수정 가능 여부!

In [ ]:
# 튜플

person = ('james', 17, 175.3, True)
print(person)
print(person[2])

person[2] = 190 # 수정을 절대 못함
print(person)

('james', 17, 175.3, True)
175.3

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple을 수정하고 싶다면 list로 바꾸고 수정을 한 다음에, tuple로 다시

a = [1, 2, 3]  # list
b = tuple(a) # 튜플
c = list(b) # 리스트
c[1] = 1000 # 리스트에서 수정
d = tuple(c) # 리스트를 다시 튜플

print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
(1, 2, 3)
[1, 1000, 3]
(1, 1000, 3)

In [ ]:
hello = 'hello' # str: tuple로 인식한다는 뜻

print(hello)
print(hello[2])

print(type(hello))

# 'str' object does not support item assignment
# str을 수정하는걸 지원하지 않음
hello[2] = 'm' # 수정 불가
print(hello)

hello
l
<class 'str'>

TypeError: 'str' object does not support item assignment

In [ ]:
# 문자열 하나씩 나누게 된다
print(list(hello))
print(tuple(hello))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')

# 시퀀스 자료형

순서가 있는 것들
* list
* tuple
* range
* str

In [ ]:
# 시퀀스 자료형에만 쓰일 수 있는

a = list(range(0, 99, 10))

# list
print(30 in a)
print(100 in a)

print(100 not in a) # a 안에 100이 들어가 있지 않냐? -> 안들어가 있음 -> True
print(30 not in a)

print('-' * 20)
# range
print(1 in range(10))
print(11 in range(10))

print('-' * 20)
# str
print('p' in 'pyhton')
print('P' in 'python') # 대소문자 구분

True
False
True
False
--------------------
True
False
--------------------
True
False

In [ ]:
# 시퀀스 문자열끼리 연결이 됨 (list)
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a+b)

# range는 안되기 때문에 range를 list type으로 변경하고 합치면 됨

print('-' * 30)
print('hello' + ' ' + 'python')

[0, 10, 20, 30, 9, 8, 7, 6]
------------------------------
hello python

In [ ]:
# range끼리 합침

# print(range(0, 10) + range(10, 20))
# TypeError: unsupported operand type(s) for +: 'range' and 'range'

# range 끼리 합치는거는 type error -> List로 바꾸고 합치면 됨

print(list(range(0, 10))+list(range(90, 100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
print([1, 2, 3, 4]*3)
print('-'*20)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
--------------------

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(len(a))
b = (38, 76, 43, 62, 19)
print(len(b))

print(len(range(0, 10, 2)))
print(len('hello python'))

10
5
5
12

In [ ]:
a = [38, 21, 53, 62, 19]
#    -5  -4  -3  -2  -1
#     0.  1.  2.  3.   4
print(a[-1]) # print(len(a) - 1)
print(a[-3])
print(b[-1])

19
53
19

In [ ]:
# slicing
# 여러개의 요소를 access

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(a[:10])
print(a[2:4])
print(a[:6]) # 0, 1, 2, 3, 4, 5 index까지 출력
print(a[7:]) # 7~
print(a[:])
print(a[::])
print(a[1:1]) # 빈 리스트
print(a[2:8:3])
print(a[::-1]) # 거꾸로

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 30]
[0, 10, 20, 30, 40, 50]
[70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[]
[20, 50]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [ ]:
# dic
# {key : value}

x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(x)
print(x.keys())
print(x.values())
print(x['a'])

# key와 value는 형식이 정해져있지 않음

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])
10

In [ ]:
# key에는 dic을 사용할 수 없음
# x = {{'x':10}: 100}
# TypeError: unhashable type: 'dict'

TypeError: unhashable type: 'dict'

In [ ]:
# value에는 dic을 사용할 수 있네???
#?

x = {'x': {'y': 20}}
print(x)
print(y)

{'x': {'y': 20}}
10

In [ ]:
x = {1: {2:100}, 2: {3: 200}}
# print(x[0]) #indexing이 다름
print(x[1])
print(x[2])
print(x.values())

{2: 100}
{3: 200}
dict_values([{2: 100}, {3: 200}])

In [ ]:
a= {}
print(a, type(a))

dic = dict(a=10, b=20, c=30)
print(dic)

# dict(zip([key1, key2, ...], [val1, val2, ...]))
dic2 = dict(zip(['a', 'b', 'c'], [10, 20, 30]))
print(dic2)

#dict([(key, val), (key, val), ...])
dic3 = dict([('a', 10), ('b', 20), ('c', 30)])
print(dic3)

# dict({key1: val1, key2, val2, ...})
dic4 = dict({'a': 10, 'b': 20, 'c': 30})
print(dic4)

{} <class 'dict'>
{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}

In [ ]:
# set
# 집합: 중복을 허용하지 않음

a = set()
print(a, type(a))

b = {}
print(b, type(b))

# 1. 중복허용하지 않음
c = set('apple')
print(c) # 중복 제거해서 출력됨

set() <class 'set'>
{} <class 'dict'>
{'a', 'l', 'p', 'e'}

In [ ]:
# 2. 순서가 정해져있지 않음
# 중복된것이 없기 때문에 순서는 바뀌고, 그대로 나옴
fruits = {'apple', 'banana', 'orange', 'grape'}
print(fruits)

# 따라서 indexing이 안됨
# print(fruits[0])
# TypeError: 'set' object is not subscriptable

{'grape', 'banana', 'apple', 'orange'}

In [ ]:
# set안에 특정요소가 있는지 확인

print('orange' in fruits)
print('peach' in fruits)

True
False

In [ ]:
# if문
# if 조건문:
#     조건이 true일 때 실행될 것

a = 10
if a == 10:
  print('a가 10')

print('aaa') # if 밖으로 나와서 출력됨

print('-' *10)

b = 5
if b == 10:
  print('b가 10')

print('b')

a가 10
aaa
----------
b

In [ ]:
# 들여쓰기의 예시
a = 10
if a == 10:
  print('10입니다.')
  print('10입니다.')
  print('10입니다.')
  print('10입니다.')

if a != 9:
    print('9가 아닙니다.')
    print(' ')
    print('9가 아닙니다.')
    print('9가 아닙니다.')
    print('9가 아닙니다.')


# 그냥 자기들끼리 들여쓰기 가능하면 되느늗ㅅ..?
# colab 특성같음
if a != 8:
  print('8가 아닙니다.')
  print('8가 아닙니다.')
  print('8가 아닙니다.')

10입니다.
10입니다.
10입니다.
10입니다.
9가 아닙니다.

9가 아닙니다.
9가 아닙니다.
9가 아닙니다.
8가 아닙니다.
8가 아닙니다.
8가 아닙니다.

In [ ]:
#if else

x = 10
y = 20

if x == 10 and y == 20:
  print('참')

else:
  print('거짓')

참

In [ ]:
a = 10
if a == 10:
  print('a는 10')
else:
  pass

a는 10

In [ ]:
write_test = 75
coding_test = True

if write_test >= 80:
  if coding_test == True:
    print('pass')
  else:
    print('fail')
else:
  print('fail')

fail

In [ ]:
if (write_test >= 80 and coding_test == True):
  print('pass')
else:
  print('fail')

fail